ArchivesSnake==0.9.1
asterism==0.7.4
Django==3.2.10
djangorestframework==3.12.4
ElectronBonder==1.0
health-check==3.4.1
iso-639==0.4.5
iso8601==0.1.14
odin==1.7.3
psycopg2-binary==2.9.1
PyYAML==6.0
uritemplate==4.1.1.
