DJANGO_DEBUG = True  # run Django in debug mode, which outputs stack traces to the UI, set to False for production (boolean)
DJANGO_SECRET_KEY = "sx6mf&q*eifhk^(cx197+=*cuq0guy$43!+hy#g1l4orkklx$g"  # used by Django to create hashes (string)
DJANGO_ALLOWED_HOSTS = ["localhost", "aquarius-web"]  # hosts Argo will respond to (list of strings)

SQL_ENGINE = "django.db.backends.postgresql" # the database engine used by Argo (string, one of django.db.backends)
SQL_DATABASE = "postgres"  # name of the application database (string)
SQL_USER = "postgres"  # name of the application database user (string)
SQL_PASSWORD = "postgres"  # password for the application database (string)
SQL_HOST = "aquarius-db"  # host for the application database (string)
SQL_PORT = 5432  # port on which the application database can be reached (integer)

ARCHIVESSPACE_BASEURL = "http://localhost:8089/" # base URL for an ArchivesSpace API instance (string)
ARCHIVESSPACE_USER = "admin" # username for an ArchivesSpace user (read-only credentials required) (string)
ARCHIVESSPACE_PASSWORD = "admin"  # password for the ArchivesSpace user (string)
ARCHIVESSPACE_REPOSITORY = 2 # identifier for an ArchivesSpace repository (integer)

URSA_MAJOR_BASEURL = "http://localhost:8005/"  # Base URL for Ursa Major application (string)

AURORA_BASEURL = "http://web:8000/api/"  # Base URL for Aurora application (string)
OAUTH_CLIENT_BASEURL = "https://oauth.com/login"  # Base URL for OAuth client (string)
OAUTH_CLIENT_ID = "1235ABC" # OAuth client identifier
OAUTH_CLIENT_SECRET = "abcd98765" # OAuth client secret
